.foodinputcontainer {
    /* background-color: #8EC3BD; */
    /* background-color: darkgrey; */
    color: white;
    border: 1px solid white;
    width: 21%;
    margin-left: 9vh;
    border-radius: 4vh;
  }

  .foodstore {
    width: 117vh;
    padding: 4vh;
    margin: 9vh 16vh;
    border: 1vh solid whitesmoke;
    border-radius: 4vh;
  }
  .foodstore > p {
    font-size: 16px;
    line-height: 25.6px;
    color: white;
    font-weight: 500;
  }
  .foodstore > img {
    width: 75px;
  }

  .foodsearchinput {
    font-size: 19px;
    letter-spacing: 1.04px;
    line-height: 50.2px;
    font-weight: 500;
    border-radius: 1vh;
    border: 1px solid transparent;
    box-shadow: 0vh 1vh 2vh;
  }
  .addcartshow {
    color: black;
    background: wheat;
    border: transparent;
  }

  .pagination{
      display: inline-grid;
      padding-left: 1vh;
  }
  .spinloader{
    margin-left: -9vh;
  }



  @media (min-width: 320px)  and (max-width: 776px) {
    .foodinputcontainer {
      /* background-color: teal; */
      color: white;
      border: 1px solid white;
      width: 71%;
      margin-left: 9vh;
      border-radius: 4vh;
    }
    .foodsearchinput {
      font-size: 19px;
      letter-spacing: 1.04px;
      line-height: 50.2px;
      font-weight: 500;
      border-radius: 1vh;
      border: 1px solid transparent;
      box-shadow: -1vh 1vh 2vh;
      margin: 4vh;
    }
    .foodstore > p {
      font-size: 8px;
      line-height: 34.6px;
      color: white;
      font-weight: bold;
      font-weight: 500;
    }
    .foodstore > img {
      width: 103px;
    }

    .foodstore {
      width: 36vh;
      padding: 4vh;
      margin: 11vh 2vh;

      border: 1vh solid whitesmoke;
      border-radius: 4vh;
    }
    .addcartshow {
      color: black;
      background: wheat;
      border: transparent;
      margin: 2vh 2vh;

    }

    .pagination{
        display: inline-grid;
        padding-left: 1vh;
    }
    }

  @media (min-width: 777px)  and (max-width: 900px) {
    .foodinputcontainer {
      /* background-color: black; */
      color: white;
      border: 1px solid white;
      width: 91%;
      margin-left: 9vh;
      border-radius: 4vh;
    }
    .foodsearchinput {
      font-size: 19px;
      letter-spacing: 1.04px;
      line-height: 50.2px;
      font-weight: 500;
      border-radius: 1vh;
      border: 1px solid transparent;
      box-shadow: -1vh 1vh 2vh;
      margin: 4vh;
    }


    .foodstore {

      width: 81vh;
      padding: 4vh;
      margin: 11vh 28vh;

      border: 1vh solid whitesmoke;
      border-radius: 4vh;
    }
    .addcartshow {
      color: black;
      background: wheat;
      border: transparent;
      margin: 2vh 2vh;

    }

    .pagination{
        display: inline-grid;
        padding-left: 1vh;
    }
    .spinloader{
      position: absolute;
      left: 65vh;
    }
  }


  @media (min-width: 901px)  and (max-width: 1200px) {
    .foodinputcontainer {
      /* background-color: tomato; */
      color: white;
      border: 1px solid white;
      width: 91%;
      margin-left: 9vh;
      border-radius: 4vh;
    }
    .foodsearchinput {
      font-size: 19px;
      letter-spacing: 1.04px;
      line-height: 50.2px;
      font-weight: 500;
      border-radius: 1vh;
      border: 1px solid transparent;
      box-shadow: -1vh 1vh 2vh;
      margin: 4vh;
    }

    .foodstore {

      width: 81vh;
      padding: 4vh;
      margin: 11vh 28vh;

      border: 1vh solid whitesmoke;
      border-radius: 4vh;
    }
    .addcartshow {
      color: black;
      background: wheat;
      border: transparent;
      margin: 2vh 2vh;

    }

    .pagination{
        display: inline-grid;
        padding-left: 1vh;
    }
    .spinloader{
      position: absolute;
      left: 72vh;
    }
  }



  @media (min-width: 1201px)  and (max-width: 1500px) {
    .foodinputcontainer {
      /* background-color: tomato; */
      color: white;
      border: 1px solid white;
      width: 91%;
      margin-left: 9vh;
      border-radius: 4vh;
    }
    .foodsearchinput {
      font-size: 19px;
      letter-spacing: 1.04px;
      line-height: 50.2px;
      font-weight: 500;
      border-radius: 1vh;
      border: 1px solid transparent;
      box-shadow: -1vh 1vh 2vh;
      margin: 4vh;
    }

    .foodstore {

      width: 81vh;
      padding: 4vh;
      margin: 11vh 55vh;

      border: 1vh solid whitesmoke;
      border-radius: 4vh;
    }
    .addcartshow {
      color: black;
      background: wheat;
      border: transparent;
      margin: 2vh 2vh;

    }

    .pagination{
        display: inline-grid;
        padding-left: 1vh;
    }
    .spinloader{
      position: absolute;
      left: 90vh;
    }
  }



  @media (min-width: 1501px)  and (max-width: 1800px) {
    .foodinputcontainer {
      /* background-color: tomato; */
      color: white;
      border: 1px solid white;
      width: 91%;
      margin-left: 9vh;
      border-radius: 4vh;
    }
    .foodsearchinput {
      font-size: 19px;
      letter-spacing: 1.04px;
      line-height: 50.2px;
      font-weight: 500;
      border-radius: 1vh;
      border: 1px solid transparent;
      box-shadow: -1vh 1vh 2vh;
      margin: 4vh;
    }

    .foodstore {

      width: 81vh;
      padding: 4vh;
      margin: 11vh 59vh;

      border: 1vh solid whitesmoke;
      border-radius: 4vh;
    }
    .addcartshow {
      color: black;
      background: wheat;
      border: transparent;
      margin: 2vh 2vh;
    }

    .pagination{
        display: inline-grid;
        padding-left: 1vh;
    }
    .spinloader{
      position: absolute;
      left: 105vh;
    }
  }
  
